body{
    padding: 0;
    margin: 0;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
}
div{
    box-sizing: border-box;
}

a, a>span, a>p{
    cursor: pointer;
    text-align: left;
    margin: 0rem;
    /* font: normal normal normal 22px/24px Arial; */
    letter-spacing: -0.22px;
    /* color: #414042; */
    /* font-weight:normal; */
}

p{
    margin: 0;
}

a>span {
    font-family:Arial;
    font-size: 22px;
    font-weight: bold;
}
a>p {
    font-family:Arial;
    font-size: 22px;
}

#listContainer{
    /* overflow-y:scroll; */
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.go_home_btn{
    width: 120px;
    height: 120px;
    transform: translate(-12px, 25px);
}

.btn{
    width: 70px;
    /* height: 80px; */
    padding: 22px 24px;
    font: normal normal bold 32px/24px Arial;
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: #6a6a6a;
    border: 0;
    /* box-shadow: 0px 2px 8px #9CAED659; */
}
.btn_box{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
}

.list, .no-results {
    /* display: grid;
    grid-template-columns: 95px 583px 282px; */
    text-align: left;
    /* background-color:#9CAED659; */
   
    height: 100px;
    margin: 0;
}

.restElement{
    text-align: left;
    /* background-color:#9CAED659; */
   
    height: 100px;
    margin: 0;
    padding: 0;
}

 .text_box{
    padding: 10px 22px;
}

.list > .title, .list > .name{
    overflow: hidden;  		
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
    word-break:break-all
}

.number_box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
}

.name:last-child{
    text-align: right;
}

.title_container{
    width: 980px;
    /* display: grid; */
    /* grid-template-columns: 95px 583px 282px; */
    text-align: left;
    font: normal normal bold 28px/24px Arial;
    letter-spacing: -0.28px;
    color: #0086FE;
    /* margin-top: 46px; */
    padding-left: 20px;
    padding-bottom: 16px;
    border-bottom: 3px solid #0086FE;
}

/* .restElement{
    padding: 10px 22px;
} */

#search{
    width: 830px;
    height: 92px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem 0.5rem 2rem;
    margin: 0.75rem;
    /* padding: 40px; */
    font-size: 30px;
    transform: translateY(25px);
}

#search:focus{
    outline: none;
}

.zoom {
    position: absolute;
    transform: translate(409px,27px);
}

#header{
    margin: 0;
    padding: 0;
    border: none;
}

#header > img{
    margin: 0;
    padding: 0;
    border: none;
    /* transform: scale(1.1); */
    position: relative;
    top: -22px;
    left: -22px;
}

#page_1{
    padding: 0 50px;
}

#search_box{
    position: fixed;
    top: 1740px;
    right: 14px;
}

.wrap{
    display: grid;
    grid-template-columns: 100px 1fr;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    align-items: center;
    font-size: 1.6rem;
}
.text_box{
    display: flex;
    flex-direction: column;
    height: 100px;
    /* margin-left: 2rem; */
}

.text_box > p {
    overflow: hidden;  	
    text-overflow: ellipsis;  
    white-space: nowrap; 	
    word-break:break-all;
    width: 844px;
}

.name_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    transform: translateY(14px);
    /* margin-top: 10px; */
}

.name_box > p {
    overflow: hidden;  	
    text-overflow: ellipsis;  
    white-space: nowrap; 	
    word-break:break-all;
    font-size: 20px;
}

.number{
    font-weight: 700;
}

.title{
    font-weight: 700;
}

.name{
    color: #6a6a6a;
}

.page_title{
    font-size: 50px;
    font-weight: bold;
    color: #0086FE;
    margin-bottom: 20px;
}

.list_active{
    background-color: #0086FE;
    color:#fff;
}

/**page 2*/

#number{
    width: 1000px;
    height: 80px;
    background-color: #0086FE;
    border-radius: 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev{
 position: absolute;
 transform: translate(389px, 145px);
 z-index: 999;
}

.next{
    position: absolute;
    transform: translate(720px, -191px);
}

.view_list{
    background-color: transparent;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transform: translate(502px,90px);
    border: none;
}

.img_pre_btn, .img_next_btn {
    position: absolute;
    top:50%;
}

.img_pre_btn{
    left:0;
}

.img_next_btn{
    left:95%;
}

.footer{
    transform: scale(1.15);
    position: relative;
    /* top: 95px;
    left: 26px; */
}

#imgBox{
    display: flex;
}

.move_number{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#preNumber{
    transform: translate(219px, 151px);
    z-index: 9999;
}

#nextNumber{
    transform: translate(831px, -185px);
    z-index: 9999;
}


/* Add slide animation class */
.slide-container {
    overflow: hidden; 
    position: relative; 
    width: 100%;
    height: 100%;
  }

  .img-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* transform 속성에 대한 0.3초의 부드러운 애니메이션 효과 추가 */
}

.zoom{
    transform: translate(409px,27px);
}

.zoom_button{
    font-size: 100px;
    position: absolute;
    transform: translate(410px,50px);
}

  #img_wrap{
transform: translateY(65px);
  }

#the-canvas{
    margin: 0 auto;
}


/**homepage*/

.home_background{
    width: 1080px;
    height: 1920px;
    background-image: url("./assets/home/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.home_header{
    width: 894px;
    margin: 0 30px;
}

.menu_wrap{
    width: 900px;
    height: 790px;
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_box{
    width: 900px;
    height: 126px;
    font-size: 46px;
    font-weight: bold;
    color: #0087FF;
    text-align: center;
    box-shadow: 0px 5px 12px #454C6E4D;
    border-radius: 63px;
    background: transparent linear-gradient(179deg, #FFFFFF 0%, #F7F7FA 100%, #000000 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_box:hover{
    background: #0285FE;
    color: #fff;
}


.list_body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#search_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail_wrap_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


