body{
    overflow-x: hidden;
}

a, a>span, a>p{
    cursor: pointer;
    text-align: left;
    margin: 0.5rem;
    /* font: normal normal normal 22px/24px Arial; */
    letter-spacing: -0.22px;
    /* color: #414042; */
    /* font-weight:normal; */
}

a>span {
    font-family:Arial;
    font-size: 22px;
    font-weight: bold;
}
a>p {
    font-family:Arial;
    font-size: 22px;
}

.btn{
    width: 235px;
    height: 80px;
    padding: 22px 24px;
    font: normal normal bold 32px/24px Arial; 
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 8px #9CAED659;
}
.list{
    display: grid;
    grid-template-columns: 95px 583px 282px;
    text-align: left;
    /* background-color:#9CAED659; */
    padding: 10px 22px;
    margin: 0;
}
.list > .title, .list > .name{
    overflow: hidden;  		
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
    word-break:break-all
}

.title_container{
    width: 980px;
    display: grid;
    grid-template-columns: 95px 583px 282px;
    text-align: left;
    font: normal normal bold 28px/24px Arial;
    letter-spacing: -0.28px;
    color: #0086FE;
    margin-top: 46px;
    padding-left: 20px;
    padding-bottom: 16px;
    border-bottom: 3px solid #0086FE;
}

#search{
    width: 980px;
    height: 120px;
    border-radius: 50px;
    margin: 30px 0;
    padding: 40px;
    font-size: 30px;
}

#search:focus{
    outline: none;
}

.zoom {
    position: absolute;
    transform: translate(520%,62%);
}

#header{
    margin: 0;
    padding: 0;
    border: none;
}

#header > img{
    margin: 0;
    padding: 0;
    border: none;
    transform: scale(1.1);
    position: relative;
    top: -22px;
    left: -22px;
}

#page_1{
    padding: 0 50px;
}
/**page 2*/

#number{
    width: 1000px;
    height: 80px;
    background-color: #0086FE;
    border-radius: 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.prev{
 position: absolute;
 transform: translate(350px, 138px);
 z-index: 999;
}

.next{
position: absolute;
transform: translate(670px, -168px);
}

.view_list{
    background-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transform: translate(470px,88px)
}

.img_pre_btn, .img_next_btn {
    position: absolute;
    top:50%;
}

.img_pre_btn{
    left:0;
}

.img_next_btn{
    left:95%;
}

.footer{
    transform: scale(1.15);
    position: relative;
    /* top: 95px;
    left: 26px; */
}

#imgBox{
    display: flex;
}

.move_number{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#preNumber{
    transform: translate(180px, 132px);
    z-index: 9999;
}

#nextNumber{
    transform: translate(780px, -171px);
    z-index: 9999;
}